# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
migrations/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
# lib64/

parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# Node/React
node_modules/
/.pnp
.pnp.js
/coverage
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
.DS_Store
